.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a{
  cursor: pointer !important;
}
.owl-nav{
  font-size: 20px !important;
}
.owl-carousel .owl-nav button.owl-prev{
  background-color: #dfdfdf !important;
  width: 30px !important;
}
.owl-carousel .owl-nav button.owl-next{
  background-color: #afacac !important;
  width: 30px !important;
}
.owl-carousel button.owl-dot{
  background: none !important;
}
.navbar-toggler navbar-toggler-right mt-3 collapsed{
  margin-bottom: 20px !important;
}

.kep-login-facebook {
  display: none;
}
.kep-login-facebook:after {
  border-radius: 5px !important;
}
.fh5co_good_font_2{
  font-size: 14px !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
